.hg
.hgignore

WormholeMapper.v12.suo
database/universeDataDx.db
server/bin/*
server/obj/*
client/obj/*
server/App_Data/serverContext-20141008201051_log.ldf
server/App_Data/*
client/bin/*
published/*
publishing/*
server/node_modules/*
tmp/*
testngReact/*
mapper-website/node_modules/*
mapper-website/debug/*
mapper-website/dist/*

node_modules/local/node_modules/**
node_modules/firebase/*
maintenance-server/node_modules/**
maintenance-server/publish/**
node_modules/moment/**
login-server/node_modules/*
login-server/publish/**
node_modules/firebase-token-generator/**
viva-graph-js/.git/*
sigma-js/node_modules/grunt-contrib-jshint/node_modules/*
sigma-js/node_modules/*
sigma-js/build/*
scripts/database/*
